.idea
.loadpath
.project
.rvmrc
capybara-*
config/database.yml
config/sunspot.yml
config/payment.yml
*.log
log/*.log
log/sunspot-solr*
*.out
tmp/*
tmp/zipped_bills/*
tmp/bills/*
nbproject/*
index/*
system/*
system
system/**
config/ferret_server.yml
config/application.yml
config/time_tracker.yml
start_server.sh
public/images/statistics/*
.DS_Store
*.DS_Store
*/.DS_Store
*/*/.DS_Store
*.swp
*.ctx
.DS_STORE
*.DS_STORE
*/.DS_STORE
*/*/.DS_STORE
gigit
db/development.sqlite3
db/test.sqlite3
db/_20090313_1033.sql
solr/
solr/*
sunspot-solr.pid
rerun.txt
log/sunspot-solr-development.log.lck
pin
