.rvmrc
.rbenv-version
.bundle
.autotest 
.idea
nbproject

log/*.log
pkg
tmp/**/*
tmp/*.pdf
capybara-*
.rake_tasks~
rerun.txt

.bundle/**
.bundle
vendor/plugins/*
.DS_Store

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes
print.css.css
public/system
db/.~lock*
config/fog.yml
